.Row {
  display: table-row;
  transition: all 0.1s;
}

.Row:nth-child(odd) {
  background-color: #f3f3f3;
}

.Row:hover {
  background-color: #d9f8ff;
}

.Row__item {
  padding: 0.8em 1em;
  box-sizing: border-box;
  max-width: 700px;
}